# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\verstka\tbcc-exchange — plug\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
